/* referenced https: //developer.mozilla.org/en-US/docs/Web/CSS/filter#browser_compatibility */
.black-icon {
  filter: invert(1) drop-shadow(0px 0px 2px black);
  padding-right: 5px;
  width: 40px;
  height: 25px;
}